.ui.four.column.grid
  - @contacts.each do |contact|
    - if contact.groups == "總務部"
      .column
        .ui.fluid.green.card
          .image
            = link_to(edit_contact_path(contact), :class => 'ui image') do
              = image_tag contact.image_url(:thumb).to_s
          .content
            .header= link_to contact.name, edit_contact_path(contact)
            .meta= contact.title
            .description
              %div= contact.groups
              %div= contact.phone
              %div= contact.email