= form_for @calendar do |f|
  - if @calendar.errors.any?
    #error_explanation
      %h2= "#{pluralize(@calendar.errors.count, "error")} prohibited this calendar from being saved:"
      %ul
        - @calendar.errors.full_messages.each do |msg|
          %li= msg
  .two.fields
    .field
      %label 名稱
      = f.text_field :name
    .field
      %label 地點
      = f.text_field :place
  .five.fields
    = f.datetime_select :starts_at, {:datetime_separator => "", :time_separator => "", minute_step: 15}, {:class => "ui search dropdown field"}
    / = f.time_select :starts_at, {:time_separator => "",minute_step: 15}, {:class => "ui search dropdown field"}
  .ui.divider
    .ui.buttons.2.fluid
      = button_tag(type: 'submit', class: "ui teal button") do
        送出
        %i.checkmark.icon
      .or
      = link_to(calendars_path, :class => 'ui blue button') do
        返回
        %i.reply.icon
    
