%h1 
  行事曆
  %i.calendar.icon
.ui.divider
= link_to(new_calendar_path,:class => 'ui fluid teal labeled icon button') do
  新增行事曆
  %i.add.icon
%br
= month_calendar table: {class: "ui celled striped table calendar"}, events: @calendars do |date, calendars|
  %div.ui.label
    = date.strftime("%d")
  - calendars.each do |calendar|
    %div
      %i.tag.icon
      = link_to calendar.name, edit_calendar_path(calendar)
      %br
      %i.marker.icon
      = calendar.place
      %br
      %i.wait.icon
      = calendar.starts_at.strftime("%H:%M")

